<group class="flex">
    <button matTooltip="clear fields" mat-icon-button (click)="clear(insertForm)">
        <mat-icon color="primary">clear</mat-icon>
    </button>
    <button matTooltip="delete statements" mat-icon-button (click)="clearStatements()">
        <mat-icon color="primary">delete</mat-icon>
    </button>
    <button matTooltip="autofill fields" mat-icon-button (click)="autoFill()">
        <mat-icon color="primary">autorenew</mat-icon>
    </button>
    <form #insertForm [formGroup]="formGroup" (ngSubmit)="submit()">
        <div *ngFor="let table of tables">
            <p>{{table.name}}</p>
            <mat-form-field *ngFor="let field of table.fields">
                <mat-label>{{field.fieldname}}</mat-label>
                <input *ngIf="field.options == undefined" matInput formControlName="{{field.formControlName}}"
                    [(ngModel)]="formGroup[table_relations[field.formControlName]]!=undefined ? formGroup[table_relations[field.formControlName]] : formGroup[field.formControlName]">
                <mat-select *ngIf="field.options != undefined" formControlName="{{field.formControlName}}">
                    <mat-option *ngFor="let option of field.options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-stroked-button type=submit style="margin-left: 0.5em;">
                Submit
            </button>
        </div>
    </form>
    <div>
        <textarea #insertStatement matInput [value]="statements" spellcheck="false" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"></textarea>
    </div>
</group>