<div class="flex_row align_top space_around spacing">
    <div class="flex_column">
        <h2>Statement Configuration</h2>
        <div class="flex_row space_between align_center" style="margin-bottom: 2em;">
            <div class="flex_row align_center">
                <!--Statement Type Selection-->
                <p>Statement Type</p>
                <option-form-field [options]="statementTypes"
                    (selection)="onStatementSelect($event)"></option-form-field>
            </div>
            <div class="flex_row align_center">
                <!--Table Selection-->
                <p>Table</p>
                <option-form-field [options]="getTableNames()" (selection)="onTableSelect($event)">
                </option-form-field>
            </div>
        </div>
        <app-select *ngIf="selectIsReady()" [table]="state.table" [tables]="tables"></app-select>
    </div>
</div>