<group>
    <mat-form-field>
        <mat-label>Statement</mat-label>
        <mat-select #selectedStatement (selectionChange)="setSelectedStatementChoice(selectedStatement.selected.value)">
            <mat-option *ngFor="let option of statementOptions" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Table</mat-label>
        <mat-select #selectedTable (selectionChange)="setSelectedTable(selectedTable.selected.value)">
            <mat-option *ngFor="let table of tables" [value]="table.name">
                {{table.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="statementChoice==='Select' && table">
        <form [formGroup]="conditionForm" (ngSubmit)="addCondition()">
            <mat-form-field>
                <mat-label>Conditions</mat-label>
                <mat-select formControlName="conditionField">
                    <mat-option *ngFor="let condition of allFields" [value]="condition">
                        {{condition}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 4em;">
                <mat-select formControlName="operand">
                    <mat-option *ngFor="let operand of ['=','IN','LIKE']" [value]="operand">
                        {{operand}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput formControlName="conditionValue" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" spellcheck="false"></textarea>
            </mat-form-field>
            <button mat-icon-button type=submit>
                <mat-icon style="color: blue; font-size: 20px;">add</mat-icon>
            </button>
        </form>
        <div style="margin-bottom: 0.7em;" class="rounded_box">
            <div class="flex_space_between">
                <textarea #selectStatement matInput [value]="generateSelectStatement()" spellcheck="false"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
                <button mat-button style="color: grey; font-size: 15px;" (click)="addStatement(selectStatement)">
                    Add Statement
                </button>
            </div>
        </div>
        <mat-chip-list>
            <mat-chip *ngFor="let field of allFields" [ngStyle]="toggleChipStyle(field, 'field')"
                (click)="toggleChipActive(field, 'field')">{{field}}</mat-chip>
        </mat-chip-list>
        <mat-chip-list>
            <div *ngFor="let condition of conditions">
                <mat-chip [ngStyle]="toggleChipStyle(condition, 'condition')"
                    (click)="toggleChipActive(condition, 'condition')">
                    {{condition}}</mat-chip>
            </div>

        </mat-chip-list>
    </div>
    <div *ngIf="statementChoice==='Insert' && table">
        <mat-form-field>
            <mat-label>Field Values</mat-label>
            <input matInput [(ngModel)]="fieldValues">
        </mat-form-field>
        <div class="rounded_box">
            <div style="margin-bottom: 0.7em;">
                <textarea matInput [value]="generateInsertStatement()"></textarea>
            </div>

        </div>
    </div>
    <div class="flex_space_between" style="width: 80%;">
        <textarea style="margin-top: 0.7em;" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            spellcheck="false" [value]="statements.join('\n')">
    </textarea>
        <button mat-icon-button [cdkCopyToClipboard]="statements">
            <mat-icon style="color: grey; font-size: 20px; width:fit-content">file_copy</mat-icon>
        </button>
    </div>
</group>
<!-- <practice></practice> -->