textarea[cdktextareaautosize].mat-input-element {
    overflow: hidden;
}
.miniStatement{
    font-size: 20px;
}
.fullStatement{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
}
.pad_top{
    padding-top: 0.5em;
}
.chip_list_spacing{
    margin-top: 0.5em;
}