/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0;}
body { font-family: Roboto, "Helvetica Neue Light" , "Helvetica Neue", "Helvetica,Arial", "Lucida Grande", sans-serif; }
.width_100{
    width: 100%;
}
.width_50{
    width: 50%;
}
.border{
    border: thin
}
.spacing{
    margin: 1em;
}
.align_center{
    align-items: center;
}
.align_top{
    align-items: flex-start;
}
.align_bottom{
    align-items: flex-end;
}
.space_between{
    justify-content: space-between;
}
.space_around{
    justify-content: space-around;
}
.space_evenly{
    justify-content: space-evenly;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.rounded_box{
    border-radius: 3%;
    // border: solid;
    // border-width: thin;
    // border-color: rgb(156, 156, 156);
    height: fit-content;
    width: 80%;
    box-shadow: 1px 2px 4px rgb(209, 209, 209);
    padding: 1em;
}
mat-icon{
    border-radius: 50%;
}
.mat_icon_circle_button_primary{
    background-color: rgb(255, 74, 119);
    color: white;
    border-radius: 50%;
    font-size: 15px;
}
.mat_icon_circle_button_secondary{
    background-color: white;
    color: rgb(255, 74, 119);
    border-radius: 50%;
    font-size: 20px;
}